@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 6%;
    --foreground: 0 0% 98%;
    --card: 0 0% 6%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 6%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --radius: 0.5rem;
    --accent-secondary: 56 96% 58%;
    --accent-tertiary: 325 100% 70%;
  }

  @keyframes radialGradientExpand {
    from {
      background-size: 0% 0%;
      background-position: 50% 50%;
    }
    to {
      background-size: 200% 200%;
      background-position: 50% 50%;
    }
  }

  .level-card {
    display: inline-block;
    background: radial-gradient(
      circle,
      var(--accent-secondary) 30%,
      (--accent-tertiary) 100%
    );
    background-size: 0 0;
    background-position: 50% 50%;
    transition: background-size 0.5s ease-in-out,
      background-position 0.5s ease-in-out;
  }

  .level-card:hover {
    animation: radialGradientExpand 0.5s forwards;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
